<!-- Side Nav start-->
<div class="side-nav side-nav-transparent side-nav-expand" th:fragment="sidebar">
    <div class="side-nav-header">
       <a href="/admin">
           <div class="logo px-6">
               <img src="../assets/img/logo/logo-light-full.png" alt="Elstar logo">
           </div>
       </a>
    </div>
    <div class="side-nav-content relative side-nav-scroll">
        <nav class="menu menu-transparent px-4 pb-4">
            <div class="menu-group">
                <div class="menu-title">Apps</div>
                <ul>
                    <li class="menu-collapse">
                        <div class="menu-collapse-item">
                            <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                            </svg>
                            <span class="menu-item-text">Project</span>
                        </div>
                        <ul>
                            <li data-menu-item="modern-project-dashboard" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/project">
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-project-list" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/project-list">
                                    <span>Project List</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-scrum-board" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/project-scrum-board">
                                    <span>Scrum Board</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-issue" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/project-issue">
                                    <span>Issue</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-collapse">
                        <div class="menu-collapse-item">
                            <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
                            </svg>
                            <span class="menu-item-text">CRM</span>
                        </div>
                        <ul>
                            <li data-menu-item="modern-crm-dashboard" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/crm-dashboard">
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-calendar" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/crm-calendar">
                                    <span>Calendar</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-customers" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/crm-customer">
                                    <span>Customers</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-customer-details" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/crm-customer-detail">
                                    <span>Customer Details</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-mail" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/crm-mail">
                                    <span>Mail</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-collapse">
                        <div class="menu-collapse-item">
                            <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                            </svg>
                            <span class="menu-item-text">Sales</span>
                        </div>
                        <ul>
                            <li data-menu-item="modern-sales-dashboard" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/sales">
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-sales-dashboard" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/brand">
                                    <span>Brand List</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-product-edit" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/category">
                                    <span>Category List</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-product-list" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/product">
                                    <span>Product List</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-order-list" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/order">
                                    <span>Order List</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-order-details" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/order-detail">
                                    <span>Order Details</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-collapse">
                        <div class="menu-collapse-item">
                            <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path>
                            </svg>
                            <span class="menu-item-text">Knowledge Base</span>
                        </div>
                        <ul>
                            <li data-menu-item="modern-help-center" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/help-center">
                                    <span>Help Center</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-article" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/blog-detail">
                                    <span>Blog</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-manage-articles" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/blog-list">
                                    <span>Manage Blogs</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-edit-article" class="menu-item">
                                <a class="h-full w-full flex items-center" href="">
                                    <span>Manage Banner</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-collapse">
                        <div class="menu-collapse-item">
                            <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <span class="menu-item-text">Account</span>
                        </div>
                        <ul>
                            <li data-menu-item="modern-settings" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/account-settings">
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-invoice" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/account-checkout">
                                    <span>Checkout</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-activity-log" class="menu-item">
                                <a class="h-full w-full flex items-center" href="/admin/account-activity-log">
                                    <span>Activity Log</span>
                                </a>
                            </li>
                            <li data-menu-item="modern-kyc-form" class="menu-item">
                                <a class="h-full w-full flex items-center"  href="/admin/account-information">
                                    <span>Information</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="menu-group">
                <div class="menu-title menu-title-transparent">
                    Authentication
                </div>
                <ul>
                    <li class="menu-item menu-item-single mb-2">
                        <a class="menu-item-link" href="/admin/sign-in">
                            <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>
                            </svg>
                            <span class="menu-item-text">Sign In</span>
                        </a>
                    </li>
                    <li  class="menu-item menu-item-single mb-2">
                        <a class="menu-item-link" href="/admin/sign-up">
                            <span class="menu-item-icon">
                                <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path>
                                </svg>
                            </span>
                            <span class="menu-item-text">Sign Up</span>
                        </a>
                    </li>
                    <li  class="menu-item menu-item-single mb-2">
                        <a class="menu-item-link" href="/admin/forgot-password">
                            <span class="menu-item-icon">
                                <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path>
                                </svg>
                            </span>
                            <span class="menu-item-text">Forgot Password</span>
                        </a>
                    </li>
                    <li  class="menu-item menu-item-single mb-2">
                        <a class="menu-item-link" href="/admin/reset-password">
                            <span class="menu-item-icon">
                                <svg class="menu-item-icon" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path>
                                </svg>
                            </span>
                            <span class="menu-item-text">Reset Password</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- Side Nav end-->