<div th:fragment="script">
    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script th:src="@{fe/js/vendor/modernizr.min.js}"></script>
    <!-- jQuery JS -->
    <script th:src="@{fe/js/vendor/jquery.js}"></script>
    <!-- Bootstrap JS -->
    <script th:src="@{fe/js/vendor/popper.min.js}"></script>
    <script th:src="@{fe/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{fe/js/vendor/slick.min.js}"></script>
    <script th:src="@{fe/js/vendor/js.cookie.js}"></script>
    <!-- <script th:src="@{fe/js/vendor/jquery.style.switcher.js"></script> -->
    <script th:src="@{fe/js/vendor/jquery-ui.min.js}"></script>
    <script th:src="@{fe/js/vendor/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{fe/js/vendor/jquery.countdown.min.js}"></script>
    <script th:src="@{fe/js/vendor/sal.js}"></script>
    <script th:src="@{fe/js/vendor/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{fe/js/vendor/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{fe/js/vendor/isotope.pkgd.min.js}"></script>
    <script th:src="@{fe/js/vendor/counterup.js}"></script>
    <script th:src="@{fe/js/vendor/waypoints.min.js}"></script>

    <!-- Main JS -->
    <script th:src="@{../fe/js/main.js}"></script>
</div>